  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Poppins:wght@100;500&family=Vollkorn&display=swap');

  body {
    margin: 0px;
    background-color: #265f85;
    scroll-behavior: smooth;
}

.header {
    height: 815px;
    background: url("alfiano-sutianto-exFdOWkYBQw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top,#265f85,transparent);
    z-index: 1;
}
.text_header {
    text-align: center;
}

.text-header {
    font-size: 100px;
    padding-top: 300px;
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-family: 'Vollkorn', serif; 
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.description-header {
    color: #ffffff;
    padding-top: -30px;
}

.explore-btn {
    margin-top: 50px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    background-color: #3498db; 
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  

  .explore-btn:hover {
    background-color: #1a5176; 
    border: 1px solid #15405e;
    color: #fff; 
  }

.mynavbar{
    position: fixed;
    z-index: 3;
}

.about {
    display: flex;
    /* justify-content: space-around; */
    gap: 2vw;
    /* margin-left: 50px; */
    padding-left: 50px;
    padding-top: 200px;
    margin-top: 300px;
    background-color: #fff;
    padding-bottom: 140px;
    box-shadow: -50px 0px 20px black;

}

.Budaya {
    border-radius: 300px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.Budaya:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.Destinasi {
    border-radius: 300px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.Destinasi:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.Kuliner {
    border-radius: 300px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.Kuliner:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.seni {
    border-radius: 300px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.seni:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.deskripsi img {
    /* position: absolute; */
    /* padding: 320px 960px; */
    margin-top: 340px;

}

.image-wrapper {
    display: inline-block;
    position: relative;
}

.image-wrapper {
    display: flex;
}


#tentang-kami {
    padding-top: 260px;
  }
  #tentang-kami .tentang-kami-frame {
    border-radius: 20px;
    overflow: hidden;
    max-width: 700px;
    margin: 50px;
    background: #e9f8f6;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
  }

  #tentang-kami .tentang-kami-frame .tentang-kami-text {
    padding: 20px;
  }
 
  .deskripsi button {
    
    font-size: 24px;
    border: none;
    border-radius: 30px;
    background-color: #3498db; 
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  

  .deskripsi button:hover {
    background-color: #1a5176; 
    border: 1px solid #15405e;
    color: #fff; 
  }

/* title */
.navbar {
    background: #04364A;
    padding: 15px 15px 15px 30px;
    border-radius: 50px;
    margin: 10px 20px;
    box-shadow: 0px 0px 6px 0px #898989;
    position: fixed;
    width: 97.5%;
    z-index: 3;
    }
    .navbar-nav{
        padding-left: 30px;
    }
    .nav-link{
        color: #ffffff;
    }
    .navbar-brand {
        color: #ffffff;
        font-weight: bold;
    }
    .navbar-toggler{
        color: #ffffff;
    }
    .navbar-toggler-icon{
        color: #ffffff;
    }

    .navbar-nav a {
        padding: 2px 0px;
        transition: all;
        transition-duration: 300ms;
        border-bottom: 2px solid transparent;
    }

    .navbar-nav a:hover {
        color: #77ACF1;
        border-bottom: 2px solid #689bdf;
        
    }

    #t-klungkung {
        padding-top: 80px;
      }
      #t-klungkung .t-klungkung-frame {
        font-family: 'Poppins';
        font-weight: 10px;
        
        border-radius: 20px;
        overflow: hidden;
        max-width: 700px;
        margin: 160px;
        background: #e9f8f6;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-klungkung .t-klungkung-frame .t-klungkung-text {
        padding: 20px;
      }

      .isi img {

      }

      #t-Baris {
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
      }
      #t-Baris .t-Baris-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* max-width: 700px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-Baris .t-Baris-frame .t-Baris-text {
        padding: 20px;
      }

      .isi {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 300px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .baris {
        margin-top: 58px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }



      #t-masraman {
        padding-top: 100px;
        padding-left: 30pxpx;
        padding-right: 30px;
      }

      .t-masraman-frame {
        display: flex;
      }
      #t-masraman .t-masraman-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* width: 300px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-masraman .t-masraman-frame .t-masraman-text {
        padding: 20px;
      }

      .budaya2 {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 20px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .masraman {
        margin-top: 10px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }



      #t-nusa2 {
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
      }
      #t-nusa2 .t-nusa2-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* max-width: 700px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-nusa2 .t-nusa2-frame .t-nusa2-text {
        padding: 20px;
      }

      .destinasi {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 300px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .nusa2 {
        margin-top: 58px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }



      #t-smarapura {
        padding-top: 100px;
        padding-left: 30pxpx;
        padding-right: 30px;
      }

      .t-smarapura-frame {
        display: flex;
      }
      #t-smarapura .t-smarapura-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* width: 300px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-smarapura .t-smarapura-frame .t-smarapura-text {
        padding: 20px;
      }

      .destinasi2 {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 20px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .smarapura {
        margin-top: 10px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }


      

      #t-mie {
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
      }
      #t-mie .t-mie-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* max-width: 700px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-mie .t-mie-frame .t-mie-text {
        padding: 20px;
      }

      .kuliner {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 300px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .mie {
        margin-top: 58px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }



      #t-godel {
        padding-top: 100px;
        padding-left: 30pxpx;
        padding-right: 30px;
      }

      .t-godel-frame {
        display: flex;
      }
      #t-godel .t-godel-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* width: 300px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-godel .t-godel-frame .t-godel-text {
        padding: 20px;
      }

      .kuliner2 {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 20px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .godel {
        margin-top: 10px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }



      #t-wayang {
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
      }
      #t-wayang .t-wayang-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* max-width: 700px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-wayang .t-wayang-frame .t-wayang-text {
        padding: 20px;
      }

      .kesenian {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 300px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .wayang {
        margin-top: 58px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }



      #t-barong {
        padding-top: 100px;
        padding-left: 30pxpx;
        padding-right: 30px;
      }

      .t-barong-frame {
        display: flex;
      }
      #t-barong .t-barong-frame {
        font-family: 'Poppins';
        border-radius: 20px;
        overflow: hidden;
        /* width: 300px; */
        /* margin: 160px; */
        background: #e9f8f6;
        margin-top: 10px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: 0px 10px 10px 0px #000000;
      }
    
      #t-barong .t-barong-frame .t-barong-text {
        padding: 20px;
      }

      .kesenian2 {
        display: flex;
        padding-left: 50px;
        padding-top: 50px;
        margin-top: 20px;
        /* border: 4px;
        background-color: #ffffff; */
    }

      .barong {
        margin-top: 10px;
        padding: 30px;
        width: 40%;
        border: 1px;
        border-radius: 20px;
        background-color: #ffffff;
      }
